.mainContainer {
    height: 100%; // Set the height of the container to the height of the viewport
    overflow: hidden; // Prevent scrolling on the main container

    .formContainer {
        height: 100%;
        width: 100%;
        overflow-y: auto; // Allow scrolling inside the form container
        padding-right: 1rem; // Optional: Add some padding to prevent scrollbar overlapping content

        form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%; // Ensure the form takes the full width of the container

            label {
                margin-top: 1rem;
            }
        }
    }
}
